<body>
    <div class="wrapper">
      <br><br><br>
      <h1>Universidad Autónoma de Aguascalientes</h1>
      <h3>Tecnologías web</h3>
      <p>Ingeniería en sistemas computacionales</p>
      <p>3B</p>

      <p [ngStyle]="{'padding': '0px 50px 5px 90px'}">Este proyecto de reservación de estancias es parte de un trabajo académico
        desarrollado por estudiantes de la Universidad Autónoma de Aguascalientes (UAA).
        <br>
        No está destinado para uso comercial.</p>

      <br><br>

      <div class="cards">

        <mat-card class="example-card">
            <mat-card-header>
              <img mat-card-avatar mat-card-avatar src="https://i.postimg.cc/TwFQsFsc/icon-Arely.jpg" >
              <mat-card-title>Arely Zuleika Espino Dávalos</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://i.postimg.cc/5NV3Kc7g/arely.jpg" class="imgcard img">
            <mat-card-content>
              <p>
                Estudiante de la UAA
                <br>
                <mat-icon> email</mat-icon>al331632<mat-icon>alternate_email</mat-icon>edu.com.mx
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <img mat-card-avatar mat-card-avatar src="https://previews.dropbox.com/p/thumb/ACQN40OOX1w15Xrz_rLbygNhIXU0SQYYEziXpiH--AnmHViH877GcqvW5gJ1cKPvjcthqrSmZEm4iiLxBpIWy3XczIJnPsrU5thSOMSEh98skv0qF-I_X9QrqnAMFOyTfqwaVSmIsBdt_rt8d-j4kX-LUQYtrNmv9rZYxBpwGCUJkv3U62Go_DM7f_OkdSMyy43e-tt18fpMVlo9Yd94GTg6xRhztnEcZUKx3z8qRdxL0ozg1fkkZGPGREL2om8Yq1vNm0HpLLcjjMAkng0x9_mEZ7Esw-b3zAgiaorOdJ--01r1qh0T1QJ_9oWBBgFNX2AX9yIqVYuoBl01rbATElIR/p.jpeg" >
              <mat-card-title>Vania Nayeli Pérez Ortíz</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://previews.dropbox.com/p/thumb/ACSw6KNRIfDqx6F_QKItWsKl-Nkm7KMurkol5bkDWHHRHiLH4xd6q1PEWJFAU777myiMQ2MwqvHskNkxuM27RYCQTZX0Qc8geManIO1XPTJDyCVRlsKE7jqreG7cxWfrjcHuz--axb4jhiDuKaHbVMJW822mZ1ICvReyouiy-UZbw3cvrhytUtgjU60bgKeKcJvxe3en_w318VN36Nfukgs90EdBduixsoJk1eiQYyvHd4_lLzTzQrRlXYMwtVxJaNvuKvim5SaVEwsd_9Z6O5BFeaOFLp13XH8JnVX5yfaSK7EwMAY6-oDKQNAndWhMF0ZrlJngBYh5mj695NfOakT0F7zk7WFzCXFy8NuDTQRpuQ/p.jpeg" class="img">
            <mat-card-content>
              <p>
                Estudiante de la UAA
                <br>
                <mat-icon> email</mat-icon>al331604<mat-icon>alternate_email</mat-icon>edu.com.mx
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <img mat-card-avatar mat-card-avatar src="https://previews.dropbox.com/p/thumb/ACTerIF_ZX6-7eRxrohGG4rF7zbE_NKl4UAcovW97_bZdIfkiUjevoiUDZ1YDgpl577q0i4juRHaSDlDszf1hqxnFnIFkEpL0qjBXhtBGsq3RYvUDctLnXH2_n_9keKFZaBLX8mKEsM6mGcI2YWQ_ve41kWy87mKkl1tu_pgdjmrLRyyza1F3OS5C1BivguW6Hja25gWOuKYAYerhLWWF7v5HMgDL2xFBxg5CE8RAwLzh-DAfEAVihRhMr0S-qbavbAcoS_WVgFrGOovIJT7I-GjsKUjrZWlB5fHpdHm3diD08L3w07M1RLX9Tdb2AFkd9Wsp2Hl-yufkh_lmbkBijTB/p.jpeg" >
              <mat-card-title>Guillermo Alfonso Castañeda Hernández</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://previews.dropbox.com/p/thumb/ACQap5vO_GpiZXcklD8CaQ4_ZmoawHXxO42IgZ34thr5xdellmC1pAfzYYr47WouHXHiURs_9qMcOgOOWpcakkdd4pHxHO9QYhDL7BA-pDa_7rgKwKdzfn6V8RC3ftHkQP9aZFkSaWRQ7C7qttZX4I4xQRIbGqjLUw4wIg9mtTg3kwXpPyg9sOm9G0Nuw7_CPXJR-Icqk9qX06qJ1za5V8cqg9zpg39HUIcF3uURWcpFxeAkYdMsCFuGbppA_SspfQLmGvMQlALRaM8ByfH-5Cr_yEnYi0FhlM_UskpWNA0a7ReSbUqTf0K-dcDce-c6CC-jOP9S32yAOB6uvMHdxapl/p.jpeg" class="img">
            <mat-card-content>
              <p>
                Desarrollador de la barra de navegación junto con su buscador funcional,
                la página de estancias con la información de cada estancia e implementó el uso de APIs.
                <br>
                <mat-icon> email</mat-icon>al335638<mat-icon>alternate_email</mat-icon>edu.com.mx
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <img mat-card-avatar mat-card-avatar src="https://previews.dropbox.com/p/thumb/ACTxEynXEWj7liNItHw12PjgSibAne_gLfcIqQlmssQqP7D5t-_Z68AQhe9ZH5f6mZd3muQ6Jms3kOToybw5Bs4q4KdUbC70CPKuckgf3ARXAiuHqzTtKGXIOa4gS0bmi39G69BG2TNvYdglHINhCLtMWLXvO695hsqU5wjcErJMxa7ZCZwPD61IVlp6kx3UxTKPPnlfEI7I0IfJ6PXeKzmaifb5k4Lz_ob1aZFJ_ma10rFvKkMP8eXMdDC81HQ0oVTCmQFP80Wc5QPDmG_D16RnwaNNS9AWrzjIP8slBgseRpE_1mS9LX_JlCsvsGvyyTLJPvbh1FqOfqMpEy2PKrut/p.jpeg" >
              <mat-card-title>Axel Arturo Paredes Huerta</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://previews.dropbox.com/p/thumb/ACSHaRNAZw_Di-HRyinopKIndtMWC0zx3NiRZid_4u5heMn20DmHBA8ISHrM8R1xeugjFEtrmlXO9e8fUTXg2BMzUyXedUw2icL9bmNE7XTmUYyE2P6sApxV32zh-C1BA1GoIIXeo15Grv1HzxsXG11g-lfW8lxlA7gZg8IWHpoRXAxBmEnwk-gxx3B970fqi72_WVbEYlZa4-drEpjweEZyWUFp9BwezfAyler0B76pI7QSqc6Qzoe9Kz5_sjhZvA3-b9QwVyVzaCj2RfojvBerFdkNl-EW3FGABFOoSK9MkXHNCJjuZs1RNTdLYfZwwz2_8E-ztOoFakORObSS7i4MXAHjxJp2vBaqPW6nNTuZVA/p.jpeg" class="img">
            <mat-card-content>
              <p>
                Estudiante de la UAA
                <br>
                <mat-icon> email</mat-icon>al228506<mat-icon>alternate_email</mat-icon>edu.com.mx
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Americo Ismael Calzada González</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://previews.dropbox.com/p/thumb/ACQA14FeRJxkKmeTHMzAAphK5BLzBw3EybFQOzCoZw-CBd-9hcZYJPsqFH-Oxkh-lXDrSCvH8fLtXBW7g2sepjVLDR2swfbK0t--EdhJfQwQfC9oSL0jMBqXk3TCbVPkc1lP6Cy3g4e4L3dDyYPdiB6MgPfNO54XJEv9hjyONdphYWs5B7dJew3r3q59Y_DcxMJOHuMY3l9tN70exv_tJeVxknRGmyBsJGHvMJK8ZTdJJ_srvOT2GRlja2SHmRWj2l2XUjUoNo2vQTqe_nwF-vrEie9O1RdCnmGyu79c7L-uXFsUomYCh_VRKyK3_2t6y2dHooTyEvnBfBN1r_m3wpeN8dRWtu1ixD_20wbiDpdWrA/p.jpeg" class="img">
            <mat-card-content>
              <p>
                Estudiante de la UAA
                <br>
                <mat-icon> email</mat-icon>al251461<mat-icon>alternate_email</mat-icon>edu.com.mx
              </p>
            </mat-card-content>
          </mat-card>

        </div>

    </div>

  </body>
