<body>
    <div class="wrapper">
      <br><br><br>
      <h1>Universidad Autónoma de Aguascalientes</h1>
      <h3>Tecnologías web</h3>
      <p>Ingeniería en sistemas computacionales</p>
      <p>3B</p>
  
      <p [ngStyle]="{'padding': '0px 50px 5px 90px'}">Este proyecto de reservación de estancias es parte de un trabajo académico
        desarrollado por estudiantes de la Universidad Autónoma de Aguascalientes (UAA).
        <br>
        No está destinado para uso comercial.</p>
  
      <br><br>
  
      <div class="cards">
  
        <mat-card class="example-card">
            <mat-card-header>
              <img mat-card-avatar mat-card-avatar src="../../assets/img/iconArely.jpg" >
              <mat-card-title>Arely Zuleika Espino Dávalos</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/arely.jpeg" class="imgcard img">
            <mat-card-content>
              <p>
                Estudiante de la UAA
                <br>
                <mat-icon> email</mat-icon>al331632<mat-icon>alternate_email</mat-icon>edu.com.mx
              </p>
            </mat-card-content>
          </mat-card>
  
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Vania Nayeli Pérez Ortíz</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/vania.jpg" class="img">
            <mat-card-content>
              <p>
                Estudiante de la UAA
                <br>
                <mat-icon> email</mat-icon>al331604<mat-icon>alternate_email</mat-icon>edu.com.mx
              </p>
            </mat-card-content>
          </mat-card>
  
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Guillermo Alfonso Castañeda Hernández</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/guille.jpg" class="img">
            <mat-card-content>
              <p>
                Estudiante de la UAA
                <br>
                <mat-icon> email</mat-icon>al335638<mat-icon>alternate_email</mat-icon>edu.com.mx
              </p>
            </mat-card-content>
          </mat-card>
  
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Axel Arturo Paredes Huerta</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/axel.jpg" class="img">
            <mat-card-content>
              <p>
                Estudiante de la UAA
                <br>
                <mat-icon> email</mat-icon>al228506<mat-icon>alternate_email</mat-icon>edu.com.mx
              </p>
            </mat-card-content>
          </mat-card>
  
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Americo Ismael Calzada González</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/americo.jpg" class="img">
            <mat-card-content>
              <p>
                Estudiante de la UAA
                <br>
                <mat-icon> email</mat-icon>al251461<mat-icon>alternate_email</mat-icon>edu.com.mx
              </p>
            </mat-card-content>
          </mat-card>
  
        </div>
  
    </div>
  
  </body>
  