<body>
    <div class="wrapper">
      <br><br><br>
      <h1>Universidad Autónoma de Aguascalientes</h1>
      <h3>Tecnologías web</h3>
      <p>Ingeniería en sistemas computacionales</p>
      <p>3B</p>
  
      <p [ngStyle]="{'padding': '0px 50px 5px 90px'}">Este proyecto de reservación de estancias es parte de un trabajo académico
        desarrollado por estudiantes de la Universidad Autónoma de Aguascalientes (UAA).
        <br>
        No está destinado para uso comercial.</p>
  
      <br><br>
  
      <div class="cards">
  
        <mat-card class="example-card">
            <mat-card-header>
              <img mat-card-avatar mat-card-avatar src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzy9HHmC_Wq7A5EVTo7h5bOuVOVkVsj4r_5g&s" >
              <mat-card-title>Arely Zuleika Espino Dávalos</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://github.com/UnoGuilleSalvaje/proyectofinal-angular/blob/main/src/assets/img/arely.jpeg?raw=true" class="imgcard img">
            <mat-card-content>
              <p>
                Estudiante de la UAA
                <br>
                <mat-icon> email</mat-icon>al331632<mat-icon>alternate_email</mat-icon>edu.com.mx
              </p>
            </mat-card-content>
          </mat-card>
  
          <mat-card class="example-card">
            <mat-card-header>
              <img mat-card-avatar mat-card-avatar src="https://i.pinimg.com/564x/da/94/5b/da945b1be7e1ec7bd1f4cb6cd6c9ceb1.jpg" >
              <mat-card-title>Vania Nayeli Pérez Ortíz</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://github.com/UnoGuilleSalvaje/proyectofinal-angular/blob/main/src/assets/img/vania.jpg?raw=true" class="img">
            <mat-card-content>
              <p>
                Estudiante de la UAA
                <br>
                <mat-icon> email</mat-icon>al331604<mat-icon>alternate_email</mat-icon>edu.com.mx
              </p>
            </mat-card-content>
          </mat-card>
  
          <mat-card class="example-card">
            <mat-card-header>
              <img mat-card-avatar mat-card-avatar src="https://pbs.twimg.com/media/FyrPUIjWcAALdAG.png" >
              <mat-card-title>Guillermo Alfonso Castañeda Hernández</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://github.com/UnoGuilleSalvaje/proyectofinal-angular/blob/main/src/assets/img/guille.jpg?raw=true" class="img">
            <mat-card-content>
              <p>
                Estudiante de la UAA <br>
                <mat-icon> email</mat-icon>al335638<mat-icon>alternate_email</mat-icon>edu.com.mx
              </p>
            </mat-card-content>
          </mat-card>
  
          <mat-card class="example-card">
            <mat-card-header>
              <img mat-card-avatar mat-card-avatar src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/75e94c2004605.560de9d8221e8.jpg" >
              <mat-card-title>Axel Arturo Paredes Huerta</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://github.com/UnoGuilleSalvaje/proyectofinal-angular/blob/main/src/assets/img/axel.jpg?raw=true" class="img">
            <mat-card-content>
              <p>
                Estudiante de la UAA
                <br>
                <mat-icon> email</mat-icon>al228506<mat-icon>alternate_email</mat-icon>edu.com.mx
              </p>
            </mat-card-content>
          </mat-card>
  
          <mat-card class="example-card">
            <mat-card-header>
              <img mat-card-avatar mat-card-avatar src="https://www.infobae.com/new-resizer/3LuGox4YqSf62JLq1-Df6wRSCb0=/992x1323/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/HSDFPPX6HZGE3FP3IS7DVXS7OI.jpg" >
              <mat-card-title>Americo Ismael Calzada González</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://github.com/UnoGuilleSalvaje/proyectofinal-angular/blob/main/src/assets/img/americo.jpg?raw=true" class="img">
            <mat-card-content>
              <p>
                Estudiante de la UAA
                <br>
                <mat-icon> email</mat-icon>al251461<mat-icon>alternate_email</mat-icon>edu.com.mx
              </p>
            </mat-card-content>
          </mat-card>
  
        </div>
  
    </div>
  
  </body>
  