<marquee width="100%" direction="left">
  <span><b>StayInn</b> - Donde cada viaje se convierte en un recuerdo especial</span>
 </marquee>
<nav class="navbar">
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a [routerLink]="['/inicio']" class="logo navbar__link"><img src="../../assets/img/StayInn.png" width="40px" alt="" class="logo"><span>StayInn</span></a>
      </li>
      <!-- <li class="navbar__item">
        <a [routerLink]="['/inicio']" class="navbar__link"><i class="fas fa-home"></i><span>Home</span></a>
      </li> -->
      <li class="navbar__item">
        <a [routerLink]="['/registro']" class="navbar__link"><i class="fas fa-calendar-plus"></i><span>Registrar Reservación</span></a>       
      </li>
      <li class="navbar__item">
        <a [routerLink]="['/reporte']" class="navbar__link"><i class="fas fa-file-alt"></i><span>Reporte de Reservaciones</span></a>        
      </li>
      <li class="navbar__item">
        <a [routerLink]="['/estancias']" class="navbar__link"><i class="fas fa-building"></i><span>Estancias</span></a>        
      </li>
      <li class="navbar__item">
        <a [routerLink]="['/blog']" class="navbar__link"><i class="fas fa-globe"></i><span>Blog</span></a>       
      </li>
      <li class="navbar__item">
        <a [routerLink]="['/about']" class="navbar__link"><i class="fas fa-info-circle"></i><span>Acerca de</span></a>        
      </li>
      <li class="container navbar__item" id="buscoestancia">
        <div class="input-group">
          <input class="form-control" type="text" placeholder=" Search..." #buscarTexto (keyup.enter)="buscarUnaEstancia(buscarTexto.value)" style="z-index: 999;">
          <div class="input-group-append">
            <a [routerLink]="['/search']" class="navbar__link btn-primary" style="position: absolute; right: 0; padding-left: 25px;">
              <i class="fas fa-search"></i>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </nav>
  