<marquee width="100%" direction="left">
  <span><b>StayInn</b> - Donde cada viaje se convierte en un recuerdo especial</span>
 </marquee>
 
<nav class="navbar">
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a [routerLink]="['/inicio']" class="logo navbar__link"><img src="https://scontent.fagu3-1.fna.fbcdn.net/v/t39.30808-6/447728541_122176549460035530_9156271267126335133_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=1ZpKYaTfTiAQ7kNvgH036Hz&_nc_ht=scontent.fagu3-1.fna&oh=00_AYBwjHyNiALoyIUAGv7h91ViLOCJNmCRMJ-ipu1gzoWV6A&oe=667D3E87" width="40px" alt="StayInn" class="logo"><span>StayInn</span></a>
      </li>
      <!-- <li class="navbar__item">
        <a [routerLink]="['/inicio']" class="navbar__link"><i class="fas fa-home"></i><span>Home</span></a>
      </li> -->
      <li class="navbar__item">
        <a [routerLink]="['/formulario']" class="navbar__link"><i class="fas fa-calendar-plus"></i><span>Registrar Reservación</span></a>       
      </li>
      <li class="navbar__item">
        <a [routerLink]="['/reporte']" class="navbar__link"><i class="fas fa-file-alt"></i><span>Reporte de Reservaciones</span></a>        
      </li>
      <li class="navbar__item">
        <a [routerLink]="['/estancias']" class="navbar__link"><i class="fas fa-building"></i><span>Estancias</span></a>        
      </li>
      <li class="navbar__item">
        <a [routerLink]="['/blog']" class="navbar__link"><i class="fas fa-globe"></i><span>Blog</span></a>       
      </li>
      <li class="navbar__item">
        <a [routerLink]="['/about']" class="navbar__link"><i class="fas fa-info-circle"></i><span>Acerca de</span></a>        
      </li>
      <li class="container navbar__item" id="buscoestancia">
        <div class="input-group">
          <input class="form-control" type="text" placeholder=" Search..." #buscarTexto (keyup.enter)="buscarUnaEstancia(buscarTexto.value)" style="z-index: 999;">
          <div class="input-group-append">
            <a [routerLink]="['/search']" class="navbar__link btn-primary" style="position: absolute; right: 0; padding-left: 25px;">
              <i class="fas fa-search"></i>
            </a>
          </div>
        </div>
      </li>


      <li class="navbar__item">
        <a [routerLink]="['/login']" class="navbar__link" style="color: rgba(165, 247, 156, 0.53)">
          <i class="fas fa-sign-in-alt"></i>
          <span>Login</span>
        </a>
      </li>

      @if (!isLoggedIn()){
      <li class="navbar__item">
        <a [routerLink]="['/register']" class="navbar__link" style="color: rgba(169, 244, 247, 0.53)">
          <i class="fas fa-user-plus"></i>
          <span>Register</span>
        </a>
      </li>
    }


      @if (isLoggedIn()) {
        <li class="navbar__item">
          <a (click)="onClick()" class="navbar__link" style="color: rgba(232, 147, 147, 0.53)">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
          </a>
        </li>
      }

      @if (isAdmin()) {
        <li class="navbar__item">
          <a [routerLink]="['/admin']" class="navbar__link" style="color: rgba(255, 0, 0, 0.53)">
            <i class="fas fa-user-shield"></i>
            <span>Admin</span>
          </a>
        </li>
      }

    </ul>
  </nav>
  