<body>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <label for="email">Correo electrónico:</label>
      <input type="email" formControlName="email" id="email" required>
      
      <label for="password">Contraseña:</label>
      <input type="password" formControlName="password" id="password" required>
  
      <button type="submit">Iniciar sesión</button>
    </form>
  
    <form [formGroup]="formLogin">
      <label for="phone">Número de teléfono:</label>
      <input type="tel" formControlName="phoneNumber" id="phone" required>
  
      <button class="btn btn-info" (click)="onClick()" id="sign-in-button">Enviar OTP</button>
    </form>
  
    <form [formGroup]="formLogin">
      <label for="otp">Código de verificación OTP:</label>
      <input type="text" formControlName="otp" id="otp" required>
  
      <button class="btn btn-info" (click)="onVerifyOTP()">Verificar OTP</button>
    </form>
  </body>
  