<body>
  <div class="table-container">
    <h2>Citas Anteriores</h2>
    <div class="table-responsive">
      <table class="citas-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha y Hora</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Estancia</th>
            <th>Días</th>
            <th>Precio</th>
            <th>Dirección</th>
            <th>Imagen</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          @for (cita of citasAnteriores; track cita; let i = $index) {
            <tr>
              <td data-label="ID">{{ cita.id }}</td>
              <td data-label="Fecha y Hora">{{ cita.fechaHora }}</td>
              <td data-label="Nombre">{{ cita.nombre }}</td>
              <td data-label="Teléfono">{{ cita.telefono }}</td>
              <td data-label="Correo">{{ cita.correo }}</td>
              <td data-label="Estancia">{{ cita.estancia.nombre }}</td>
              <td data-label="Días">{{ cita.dias }}</td>
              <td data-label="Precio">{{ cita.estancia.precio }}</td>
              <td data-label="Dirección">#{{ cita.estancia.direccion }}</td>
              <td><img [src]="cita.estancia.imagen" alt="Imagen de la estancia" width="80" height="80"></td>
              <td><button (click)="borrarCita(cita)" title="Borrar cita"> <i class="fas fa-trash-alt"></i> </button></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="table-container">
    <h2>Citas Futuras</h2>
    <div class="table-responsive">
      <table class="citas-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha y Hora</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Estancia</th>
            <th>Días</th>
            <th>Precio</th>
            <th>Dirección</th>
            <th>Imagen</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          @for (cita of citasFuturas; track cita; let i = $index) {
            <tr>
              <td data-label="ID">{{ cita.id }}</td>
              <td data-label="Fecha y Hora">{{ cita.fechaHora }}</td>
              <td data-label="Nombre">{{ cita.nombre }}</td>
              <td data-label="Teléfono">{{ cita.telefono }}</td>
              <td data-label="Correo">{{ cita.correo }}</td>
              <td data-label="Estancia">{{ cita.estancia.nombre }}</td>
              <td data-label="Días">{{ cita.dias }}</td>
              <td data-label="Precio">{{ cita.estancia.precio }}</td>
              <td data-label="Dirección">#{{ cita.estancia.direccion }}</td>
              <td><img [src]="cita.estancia.imagen" alt="Imagen de la estancia" width="80" height="80"></td>
              <td><button (click)="borrarCita(cita)" title="Borrar cita"> <i class="fas fa-trash-alt"></i> </button></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>


</body>