<body>
  <div class="wrapper">
    <br><br><br>

    <h1>Estancias</h1>
    <br>
    
    
    <div class="card-columns">
      @for (e of miEstancia; track e; let i = $index) {
      <div class="card">
        <img [routerLink]="['/estancia',i]" src="{{e.imagen}}" class="imgn card-img" alt="...">
      </div>
      <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
          <h2>{{e.nombre}}</h2><br>
          <p>Propietario: {{e.propietario}}</p>
          <p>{{e.telefono}}</p>
          <p>{{e.email}}</p>
          <p>${{e.precio}}</p>
          <p>{{e.direccion}}</p>
        </blockquote>
        <br>
        <a [routerLink]="['/estancia',i]" class="btn" style="text-align: center;">
          <span></span><span></span>
          <span></span><span></span>
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Ver más
        </a>
      </div>
    }
      
    </div>

    <br><br>
    <h1>Top estancias más visitadas</h1>
    <div class="cols">
      @for (item of array; track item) {
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" [style.backgroundImage]="'url(' + item.imagen + ')'">
              <div class="inner">
                <p>{{ item.nombre }}</p>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <span>{{ item.propietario }}</span>
                <p class="top">{{ item.direccion }}</p>
                <p class="top">Teléfono: {{ item.telefono }}</p>
                <p class="top">Email: {{ item.email }}</p>
                <p class="top">Precio: ${{ item.precio }}.00</p>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>

</body>