<body>
    <h1 style="position: absolute; margin-top: -600px">Usuarios Registrados</h1>
    <table class="user-table">
        <thead>
          <tr>
            <th>UID</th>
            <th>Email</th>
            <th>Telefono</th>
          </tr>
        </thead>
        <tbody>
          @for (user of users; track user; let i = $index)  {
            <tr>
              <td>{{ user.uid }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phoneNumber }}</td>
            </tr>
          }
        </tbody>
      </table>    
</body>