<body style="background-color: #171717;">
  <div class="wrapper" style="padding-top: 100px;">
    <header>
      <h1>Modo Administrador</h1>
      <h2 style="text-align: center;">Gráficas de Ventas</h2>
    </header>

    <table style="width: 100%; border-collapse: collapse;">
      <tr>
        <td style="width: 70%; vertical-align: top;">
          <div class="charts-container">
            <div class="chart-item">
              <h3>Total de Usuarios Registrados</h3>
              <canvas #userChart width="500" height="400"></canvas>
            </div>
            
            <div class="chart-item">
              <h3>Ganancias Totales</h3>
              <canvas #revenueChart width="500" height="400"></canvas>
            </div>
            <div class="chart-item">
              <h3>Top 3 Estancias</h3>
              <canvas #topEstanciasChart width="500" height="400"></canvas>
            </div>
          </div>
        </td>
        <td style="width: 30%; vertical-align: top;">
          <img src="../../assets/img/Anonymous_Hacker.png" alt="Anonymous Hacker" width="350" height="450">
        </td>


        <div>
          <table>
            <thead>
              <tr>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let email of emails">
                <td>{{ email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
          
      </tr>
    </table>
  </div>
</body>