/* registro.component.css */
app-formulario {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #58a5a2 !important;
}
body {
    background-color: #171717;
    
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;

}


/* Estilo para los campos de visualización de precios y direcciones */
.display-field {
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    color: white;
}


.form-container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
}

.card {
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    margin-top: 100px;
    text-align-last: center;
}

.card-header, .card-footer {
    text-align: center;
    margin-bottom: 20px;
}

.card-header h3 {
    margin: 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #d3d3d3;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: white;
}

.form-group input:focus {
    outline: none;
    border: 2px solid #76d7c4;
}

.button-group {
    text-align: center;
}

.button-group button {
    background-color: #565656;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #565656a1;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}



/* Estilo para el select */
.button-g {
    padding: 10px;
    background-color: #565656;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para las opciones del select */
.button-g option {
    background-color: #171717;
    color: #FFFFFF;
}

/* Estilo para las tarjetas */
.cardd {
    background-color: rgba(99, 99, 99, 0.7); /* Traslúcido */
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para la imagen dentro de la tarjeta */
.cardd-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Estilo para el bloque de texto dentro de la tarjeta */
blockquote {
    font-size: 18px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

