<div class="accessibility-button" (click)="toggleAccessibilityOptions()">
    <mat-icon>accessibility</mat-icon>
  </div>
  
  <div class="accessibility-options" *ngIf="showOptions">
    <button (click)="increaseFontSize()">Aumentar Tamaño de Letra</button>
    <button (click)="decreaseFontSize()">Disminuir Tamaño de Letra</button>
    <button (click)="toggleContrast()">Contraste</button>
    <button (click)="applyProtanopia()">Paleta Protanopia</button>
    <button (click)="applyDeuteranopia()">Paleta Deuteranopia</button>
    <button (click)="applyTritanopia()">Paleta Tritanopia</button>
  </div>
  