.video {
  padding: 10px 80px 40px 330px;
}
iframe {
  border: 2px solid #000000;
  border-radius: 10px;
  margin-bottom: 20px;
}

body {
    background: #171717;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .card {
    width: 60%;
    padding: 10px 80px 40px 90px;
    border: 6px solid rgba(0, 0, 0, 0.3);
    box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    position: relative;
  
    margin: 0 auto;
  }
  
  .card h2 {
    color: rgba(0, 0, 0, 0.3);
    font-size: 40px;
    text-transform: uppercase;
  }
  
  .card .row {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
    grid-gap: 30px;
  }
  
  .card .row .col {
    position: relative;
    width: 100%;
    margin: 30px 20px 40px 0;
    transition: 0.5s;
  }
  
  .card .row .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: #343131;
  }
  
  .card .row .form-group input {
    position: absolute;
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 21px;
    padding: 10px 0 10px 20px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    color: #474040;
    border-radius: 50px;
  }
  
  .card .row .form-group label {
    line-height: 40px;
    color: #423e3e; /*labels*/
    font-size: 24px;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
  }
  
  .row .col:nth-child(6) {
    margin-top: 64px;
  }
  
  .card .row a[type="submit"] {
    padding: 20px;
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
  }
  
  @media screen and (max-width: 900px) {
    .card .row {
      grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
    }
  
    .card {
      padding: 20px;
    }
  
    .card h2 {
      font-size: 34px;
    }
  
    .card .row a[type="submit"] {
      width: 100%;
    }
  }
  
  /* BOTÓN */
  
  a {
    padding: 4px 5px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
  
    /* Centrado horizontal */
    display: block;
    margin: 0 auto;
  }
  
  
  a:hover{
    background: #03e9f4;
    color: #ffffff;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }
  a:nth-child(1){
    filter: hue-rotate(270deg);
  }
  a:nth-child(2){
    filter: hue-rotate(110deg);
  }
  a span{
    position: absolute;
    display: block;
  }
  a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
  }
  @keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
  }
  a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
  }
  @keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
  }
  a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
  }
  @keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
  }
  
  a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }
  @keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
  }
  

  /* Estilos generales */
body {
  background-color: #171717;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para el encabezado */
h1 {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 20px;
}

/* Estilos para el párrafo */
p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* Estilos para el video */




/* Estilos para la tarjeta */
.card {
  background-color: rgba(221, 221, 221, 0.274);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  color: white;
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.form-group {
  margin-bottom: 20px;
  color: white;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #636363;
  border-radius: 5px;
  background-color: #171717;
  color: white;
}

.subscribe-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #565656;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.subscribe-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.subscribe-link:hover:before {
  transform: translateX(0);
}

.subscribe-link:active {
  transform: scale(0.95);
}

h1 {
  
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.sets__title {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: neon-glow 2s infinite alternate;
}

/* Animaciones */
@keyframes neon-glow {
  0% {
    text-shadow: 0 0 15px #03e9f4;
  }
  100% {
    text-shadow: 0 0 20px #03e9f4, 0 0 30px #98eef3;
  }
}

/* Estilos para la tabla */

tr {
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  text-align: left;
  position: relative;
  z-index: 1;
}

/* Estilos del texto */
h2 {
  
  color: #fff;
  text-align: left;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

p {
  font-size: 20px;
  color: #808080;
  line-height: 1.6;
  text-align: left;
  animation: fadeInUp 1.2s ease-in-out;
}

/* Estilos de la imagen */
img {
  animation: fadeInRight 1s ease-in-out;
}

/* Animaciones */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Efectos de hover */
td:hover {
  transform: scale(1.03);
  transition: transform 0.4s ease-in-out;
}

h2:hover {
  color: #ffffff;
  text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
  animation: neon-glow 5s infinite alternate;
}

p:hover {
  color: #545353;
}

@keyframes waves {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

.img {
  animation: waves 10s ease-in-out infinite;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.l-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: 100%;
  max-width: 1200px;
  padding: 30px;
}
@media screen and (max-width: 760px) {
  .l-container {
    grid-template-columns: repeat(2, 1fr);
 }
}
.b-game-card {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 150%;
  perspective: 1000px;
}
.b-game-card__cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background-size: cover;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform-origin: top center;
  will-change: transform;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out;
}
.b-game-card__cover::after {
  display: block;
  content: '';
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
  transform: translateY(-20%);
  will-change: transform;
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}
.b-game-card:hover .b-game-card__cover {
  transform: rotateX(7deg) translateY(-6px);
}
.b-game-card:hover .b-game-card__cover::after {
  transform: translateY(0%);
}
.b-game-card::before {
  display: block;
  content: '';
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
  will-change: opacity;
  transform-origin: top center;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}
.b-game-card:hover::before {
  opacity: 0.6;
  transform: rotateX(7deg) translateY(-6px) scale(1.05);
}
